H1{
background-color: lightcyan;
margin-left: 200px;
margin-right: 200px;
text-align: center;
color: red;
font-size: 55px
}

H2{
    text-align:center;
    color:red;
    font-size: 40px
}

p{
    text-align:center;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 30px
}
ul{
    text-align:center;
}

div{
    background-color: lightgreen;
    margin-left: 600px;
    margin-right: 600px
}

.pic{
    width: 300px
}